.oc-purple {
    color: #9931FC;
}

.oc-blue {
    color: #2D22DE;
}

ol {
    list-style-type: none;
    counter-reset: item;
    margin: 0;
    padding: 0;
}
  
ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
}
  
ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;    
}
  
li ol > li {
    margin: 0;
}
  
li ol > li:before {
    content: counters(item, ".") " ";
}

.badge {
    font-size: 1rem;
}

#editButton {
    z-index: 1;
    position: fixed;
    bottom: 5rem;
    right: 5rem;
}

.sparqlResults {
    table-layout: fixed;
    width: 100%;
}

.sparqlResults th,
.sparqlResults td {
    width: 50%;
}

ul.ui-autocomplete {
    z-index: 1100;
}

#exploreSubmit {
    float: right;
}

a.entity, a.provMetadataUrl, a.provMetadataUrl, a.identifier {
    color: #0d6efd !important;
}

table {
    table-layout: fixed;
}

.sparqlResults .timeline-item {
    flex: 1 0 auto;
}

td, .resName {
    word-wrap: break-word;
}

.middle-line {
    border-right: .0625rem solid #E5E7EB;
    position: relative;
}

.middle-line:after {
    position: absolute;
    content: '';
    top: -.05rem;
    right: -.53rem;
    border-right: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid #E5E7EB;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.tooltip.show {
    opacity: 1;
}

[v-cloak] { display: none }

.v-application--wrap {
    min-height: 1vh !important;
    font-family: "Nunito Sans";
}
  